<!DOCTYPE html>
<html lang="UTF-8">
<head>
  <meta charset="UTF-8">




  <title>insert</title>
</head>
<body>
{{>layout/header}}
<div>
    <form method="POST">
        <div>
            <label>제목</label>
            <input type="text" id="title" placeholder="제목을 입력하세요" />
        </div>
        <div>
            <label>작성자</label>
            <input type="text" id="author" placeholder="작성자를 입력하세요"/>
        </div>
        <div>
            <lable>내용</lable>
            <textarea id="content" placeholder="내용을 입력하세요."></textarea>
        </div>
    </form>
    <a href="/" role="button">취소</a>
    <input type="button" id="btn-save" value="등록"/>

</div>
{{>layout/footer}}
</body>
</html>